<h1>Bienvenidos a Taskily</h1>
<h2>Creacion de un nuevo proyecto</h2>

{{!-- 9.5 en el template engine permite manejar condiciones en el archivo crear_proyectos --}}
{{!-- Condicion si hay errores --}}
{{#if errores}}
{{!-- 9.6 haremos un each para recorrer el arreglo --}}
    {{#each errores}}
        <div class="alert alert-danger" role="alert">
            El nombre del proyecto no puede ser vacio
        </div>
    {{/each}}
{{/if}}
{{!-- Fin de la condicion de errores --}}

{{!-- Inicio de formulario --}}
    {{!-- 8.4 ahora hay que decirle a donde va a apuntar en el archivo crear proyecto con el metodo post en el formulario y hay que darle un action--}}
    <form method="POST" action="/nuevoProyecto">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre del proyecto</label>
    </div>
    <div class="row">
        {{!-- 8.8 hay que agregar el name al input o el plaintext que recibe el texto que escribe el usuario --}}
        <input type="text" class="form-control m-1 col-md" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        <button type="submit" class="m-1 btn btn-primary col-md-3">Guardar</button>
    </div>
    </form>
{{!-- Fin de formulario --}}